@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    padding-top: 80px;
    line-height: 1.6;
}

.header {
    background-color: #000000;
    color: #ffffff;
    padding: 15px 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo img {
    height: 50px;
    width: auto;
    display: block;
}


.nav-links ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1em;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-links a:hover {
    background-color: #333333;
}

.download-button a {
    color: #000000;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease;
}

.download-button a:hover {
    background-color: #dddddd;
}


.content {
    padding: 20px;
}

.inicio-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px 40px;
    min-height: 85vh;
}

.inicio-section-text {
    flex: 1;
    max-width: 50%;
    padding-right: 30px;
}

.inicio-section-text h1 {
    font-size: 3.5em;
    margin-bottom: 20px;
}

.inicio-section-text p {
    font-size: 1.2em;
}

.inicio-section-image {
    flex: 1;
    text-align: center;
}

.inicio-section-image img {
    max-width: 100%;
    height: auto;
}


@media (max-width: 768px) {
    .header {
        flex-direction: column;
        padding: 20px;
    }

    .nav-links {
        padding: 15px 0;
    }

    body {
        padding-top: 210px;
    }

    .inicio-section {
        flex-direction: column;
        text-align: center;
    }

    .inicio-section-text {
        max-width: 100%;
        padding-right: 0;
        margin-bottom: 40px;
    }
}


@media (max-width: 480px) {
    .nav-links ul {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    body {
        padding-top: 270px;
    }

    .header {
        gap: 15px;
    }
}